<html>
    <head>
        <title>Die Messewerte für den angefragten Zeitraum</title>
    </head>
    <body>
        <h3>Die aktuellen Messewerte</h3>   
        <table border='1' width='20%'>
            <th>Nr</th><th>Messwert</th>
            <tr><td>1</td><td>36.36945021892129</td></tr>
            <tr><td>2</td><td>51.7589622784042</td></tr>
            <tr><td>3</td><td>35.99193718838778</td></tr>
            <tr><td>4</td><td>44.07323191132162</td></tr>
            <tr><td>5</td><td>95.85130035729146</td></tr>
            <tr><td>6</td><td>48.96211591062918</td></tr>
            <tr><td>7</td><td>71.76026401618729</td></tr>
            <tr><td>8</td><td>94.34330740035692</td></tr>
            <tr><td>9</td><td>43.60279038951338</td></tr>
            <tr><td>10</td><td>94.00204935776905</td></tr>
        </table>
    </body>
</html>
