<html>
    <head>
        <title>Die Messewerte für den angefragten Zeitraum</title>
        <link rel="stylesheet" href="styles.css"></link>
    </head>
    <body>
        <h3>Die aktuellen Messewerte... (fehlen noch)</h3>   
    </body>
</html>