<!doctype html>
<html lang="de">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Willkommen bei der kleinen Wetterstation in der Antarktis</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#datepicker").datepicker();
        });
    </script>
 </head>
 <body>
    <h3>Willkommen bei der kleinen Wetterstation in der Antarktis</h3>
    <div>Abruf der Messwerte für einen bestimmten Tag</div>
    </p>
    <form action="/Daten3" method="POST">
        <input type="text" id="datum" name="datum">
    </form>
 </body>
</html>