<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hallo, Node-Express-Beispiele</title>
        <link rel="stylesheet" href="styles.css"></link>
    </head>
    <body>
        <h3>Willkommen bei der Wetterstation mitten in der Antarktis (also am Nodepol;)</h3>
        <!-- Damit wird automatisch das statische Verzeichnis public angesprochen -->
        <image src="wetterstation.png" height="162" width="82"/>
        <form method="post" action="/Login">
            <table>
                <tr><td>Name:</td><td><input id="name" name="name" type"text" width="20"</td></tr>
                <tr><td>Password:</td><td><input id="password" name="password" type="password" width="20"</td></tr>
                <tr><td colspan="2"><input type="submit" value="Anmelden"></td></tr>
            </table>
        </form>
    </body>
</html>