<html>
    <head>
        <link href="styles.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <img src="schatz.jpg" width="400" height="320">
        <a href="/">Zurück</a>
    </body>
</html>