<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hallo, Node.js - Upload einer Datei</title>
        <link rel="stylesheet" href="styles.css">
        </head>
    <body>
        <h3>Willkommen, bei Mega-Giga-Tera-Upload!</h3>
        <form action="upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploader"><br>
            <input type="submit">
        </form>
    </body>
</html>