<!DOCTYPE html>
<html>
    <head>
        <title>Passport-Authentifizierung mit lokaler Strategie</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>
    <body>
        <h3>Willkommen bei Kemran Üzmax</h3>
        <a href="/login">Login</a>
        <p>
        <a href="/register">Registrieren</a>
        <p>
        <a href="/members">Nur für Mitglieder</a>
        <p>
        <a href="/logout">Abmelden</a>
        <p>
        <h4 style="font-family:verdana">Das ist Aufruf Nr. <span style="color:red"><%= viewCount %></span></h4>
    </body>
</html>