doctype html
html(lang="de")
 head
  title= title
  link(href="styles/styles.css" rel="stylesheet" type="text/css")
  link(href="styles/bootstrap.min.css" rel="stylesheet" type="text/css")
  block scripts
    script(src="scripts/jquery-3.6.0.js")
 body
  h1= "Prachtvolle, prima Pug-Beispiele"
  hr
  block content
