<html>
    <head>
        <title>Die Anmeldung an der Messwertstation</title>
    </head>
    <body>
        <h3>Willkommen bei der Wetterstation mitten in der Antarktis (also am Nodepol;)</h3>

        <div>Liste der angemeldeten User mit Zeitpunkt der Anmeldung</div>
        <p>
        <table width="25%" border="1">
            <th>Username</th><th>Password</th><th>Login</th>
            <% daten.forEach(function(user){ %>
            <tr>
                <th><%= user.name %></th>
                <th><%= user.password %></th>
                <th><%= user.timestamp %></th>
            </tr>    
            <% })%>
        </table>
        <p>
        <a href="/">Zurück zur Anmeldung</a>
        <p>
        <h5>Remembering Leslie McKeown</h5>
    </body>
</html>
