h3= Alle User

each user in userlist
 li user.username 
 img(src=user.avatar)

form(method="post" action="")
 label("Username: ")
 input(type="text" name="username")
 p
 label("E-Mail: ")
 input(type="text" name="email")
 p
 label("Avatar:")
 input(type="file" name="avatar")
 p
 button(type="submit") Anlegen

