extends layout 

block content
 h1= title

 ul
  each author in author_list
   li
    a(href=author.url) #{author.name} 

  else
   li In dieser Bibliothek gibt es keine Autoren (irgendetwas stimmt hier nicht)