extends layout

block content

 h1 Kategorie: #{genre.name}

 div(style="margin-left:20px;margin-top:20px")

   h4 Bücher

   dl
    each book in genre_books
     dt
      a(href=book.url) #{book.title}

     dd #{book.summary}
    else
     p In dieser Kategorie gibt es keine Bücher
   