extends layout 

block content
 h1= title

 ul
  - genre_list.sort((a, b) => { let textA = a.name.toUpperCase();let textB = b.name.toUpperCase();return (textA < textB) ? -1 : (textA > textB) ? 1 : 0});
  each genre in genre_list
   li
    a(href=genre.url) #{genre.name} 

  else
   li Es gibt noch keine Kategorien (seltsam)