extends layout

block content
 h3 Über diese Seite 

 |Auf Studi-Helper können Student*Innen Lernhilfen in Gestalt kommentierter Links für ein Modul eines Studiengangs zusammenstellen.

 p
 |In Zukunft soll auch das individuelle Zusammenstellen von Lernhilfen möglich sein.

 p
 |Die Anwendung entstand als Praxisprojekt für das Modul <b>Internet Mobile Geräte (IMG)</b> im Sommersemester 2021 an der <b>Hochschule Emden Leer</b> im Studiengang <b>Online Medieninformatik</b>.
 
 p
 |Der Dozent des Moduls ist <em>Heiner Jütting</em>.

 p
 |Der Autor ist <em>Peter Monadjemi</em> (E-Mail <em>peter.monadjemi@stud.hs.emden-leer.de</em>)
 p

 h3 Haftungsgbeschränkung 

 |Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der Anbieter übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder.

 p
 |Mit der reinen Nutzung der Website des Anbieters kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande.

 p
 |Durch den Besuch der Website des Anbieters können Informationen über den Zugriff (Datum, Uhrzeit, betrachtete Seite) gespeichert werden. Diese Daten gehören nicht zu den personenbezogenen Daten, sondern sind anonymisiert. Sie werden ausschließlich zu statistischen Zwecken ausgewertet.
 
 p 
 |Eine Weitergabe an Dritte, zu kommerziellen oder nichtkommerziellen Zwecken, findet nicht statt.

 p
 h4 Tipps für ein einfachere Nutzung

 |Vordefiniert sind die Benutzerkonten admin,pemo,percy,susi - das Kennwort ist immer omi21

