doctype html
html(lang="de")
  head
    title= title
    meta(charset="utf-8")
    meta(name="theme-color", content="#009578")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/style.css")
    link(rel="apple-touch-icon", href="/images/IMGS21Logo.png")
    link(href="pwa.webmanifest", rel="manifest", type="text/json")
    script(src="/scripts/jquery-3.6.0.js")
    script(src="/scripts/bootstrap.min.js")
    script(src="sw-helper.js")
    script.
      window.addEventListener("DOMContentLoaded", () => {
        var elOffline = document.getElementById("imgOffline");
        if (elOffline) {
          elOffline.src = navigator.onLine ? "/images/OnlineButton.png" : "/images/OfflineButton.png";
          if (navigator.onLine) {
              console.log("+++ Online-Status: Online +++");
          } else {
              console.log("+++ Online-Status: Offline +++");
          }
        } else {
          console.log("+++ imgOffline nicht gefunden +++");
        }
      })

  body
   div(id="divMenu" class="container-fluid")
    block menu
     div(class="row")
      div(class="col-sm-1")
       img(src="/images/StudiHelper_Logo.png" alt="Studi-Helper-Logo")
     div(class="row")
      div(class="col-sm-2")
       block sidebar
        ul(class="sidebar-nav")
         li
          a(href="/catalog") Home
         li
          a(href="/catalog/faculties") Alle Fakultäten
         li
          a(href="/catalog/syllabuses") Alle Studiengänge
         li
          a(href="/catalog/courses") Alle Kurse
         li
          a(href="/catalog/helper") Alle Lernhilfen
         hr
         li
          a(href="/catalog/login") Anmelden
         li
          a(href="/catalog/logout") Abmelden
         hr
         li
          a(href="/catalog/about") Info&Impressum

        img(id="imgOffline", src="/images/OnlineButton.png", alt="Online-Offline-Indikator")

        block extraSidebar

      div(class="col-sm-10")
       block content
         
        
        

        
        

        
        
