extends layout

block content

    if error
        p.text-danger Es traten leider Fehler auf

    h3 Password zurücksetzen
    form(action="/passwordRecover" method="post")
    div.form-group
     input#title.form-control(type="text" placeholder="E-Mail" name="email" required value=(undefined=== login ? "" : login.email))
  
    button.btn.btn-primary(type="submit") Neues Password anfordern

    p
    if errors
     ul
     for error in errors
      li!= error.msg

    a(href="/catalog/register") Registrieren