extends layout

block content

    h3 Registrieren für Studi-Helper
    form(action="/login" method="post")
    div.form-group
     input#title.form-control(type="text" placeholder="Anmeldename" name="username" required autofocus value=(undefined=== login ? "" : login.username))
    div.form-group
     input#title.form-control(type="text" placeholder="E-Mail" name="email" required value=(undefined=== login ? "" : login.email))
    div.form-group
     input#title.form-control(type="password" placeholder="Passwort" name="password")
    div.form-group
     input#title.form-control(type="password" placeholder="Passwort Wdh." name="passwordWdh" required )

    button.btn.btn-primary(type="submit") Registrieren

    p
    if errors
     ul
     for error in errors
      li!= error.msg

    a(href="/catalog/login") Anmelden