extends layout

block content

    if registrations.length 
      table.listing-table.table-dark.table-striped
       tr
        th Name
        th EMail
       each registration in registrations
         tr
           td= registration.name
           td= registration.email
    else
        p Bislag noch keine Registrierungen :(