doctype html
html
  head
    title= `${title}`
    link(href="styles.css",rel="stylesheet")
    link(href="bootstrap.min.css", rel="stylesheet")

  body
   div.container.listing-reg
    h1 Mein Node+Mongo-Tutorial

    block content
